<!DOCTYPE html>
<html>
<head>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <title>ASP.NET CORE demo for JSNLog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body class="container">
    aaaaaaaaaaaaaa
</body>
</html>
